{% extends "_bootstrap.html" %}

{% block head %}
    {{ super() }}
    {# Here go all the styles, CSS links, etc. #}
    {% assets "visir_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <style>
        .breadboard .delete {
            background-image: url('{{ url_for('static', filename='visir/instruments/breadboard/images/trash.png') }}');
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}
    {# Here go what is inside the <body></body>. #}

    <div class="container">
        <!--<h1>Virtualized Breadboard</h1>-->
        <div>
            <img src="{{ url_for('static', filename='resources/images/Project_Butterfly.png') }}" height=200px>
        </div>
        

        <div id="breadboard" style="float:left;"></div>
        <img src="{{ url_for('static', filename='resources/images/logic_pinout.png') }}" width=200px style="float:left;">
    </div>
    <div>
        <button onclick="printLog()">Submit</button>
    </div>
    <div>
	 <!--<img src="{{ url_for('lab.video_feed') }}" width="500" height="400">-->
	</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Here go all the JavaScript scripts. Most of them should be in the static folder #}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script>
        window.visir = window.visir || {};
        window.visir.BaseLocation = "{{ url_for('static', filename='visir/') }}";
    </script>

    {% assets "visir_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='logic_gates/breadboard-visir.js') }}"></script>
    <script>
        var endpointBase = "{{ url_for('api.index') }}";
        var imageBase = "{{ url_for('static', filename='resources/images/') }}";
        var numberOfSwitches = 3;
        var breadboard = new RHLab.Widgets.Breadboard($("#breadboard"), endpointBase, numberOfSwitches, imageBase, false);
    </script>
    <script>
        function printLog(){
            breadboard.Update()
            console.log(breadboard._outputState);
            // if(breadboard._notGate){
            //     if(breadboard._notGate['0']._array_value['6'] !== false || breadboard._notGate['0']._array_value['13'] !== true){
            //         alert("NOT Gate improper wiring. Check Vcc and GND wiring!");
            //         return;
            //     }
            // }
            // if(breadboard._andGate){
            //     if(breadboard._andGate['0']._array_value['6'] !== false || breadboard._andGate['0']._array_value['13'] !== true){
            //         alert("AND Gate improper wiring. Check Vcc and GND wiring!");
            //         return;
            //     }
            // }
            // if(breadboard._orGate){
            //     if(breadboard._orGate['0']._array_value['6'] !== false || breadboard._orGate['0']._array_value['13'] !== true){
            //         alert("OR Gate improper wiring. Check Vcc and GND wiring!");
            //         return;
            //     }
            // }
            codes = []
            if(breadboard._outputState['7']){
                //console.log('GCO');
                codes.push('GCO');
            }
            else{
                //console.log('GCF');
                codes.push('GCF');
            }

            if(breadboard._outputState['11']){
                //console.log('GAO');
                codes.push('GAO');
            }
            else{
                //console.log('GAF');
                codes.push('GAF');
            }

            if(breadboard._outputState['21']){
                //console.log('GBO');
                codes.push('GBO');
            }
            else{
                //console.log('GBF');
                codes.push('GBF');
            }

            if(breadboard._outputState['44']){
                //console.log('LGO');
                codes.push('LGO');
            }
            else{
                //console.log('LGF');
                codes.push('LGF');
            }

            if(breadboard._outputState['45']){
                //console.log('LOO');
                codes.push('LOO');
            }
            else{
                //console.log('LOF');
                codes.push('LOF');
            }

            if(breadboard._outputState['46']){
                //console.log('LRO');
                codes.push('LRO');
            }
            else{
                //console.log('LRF');
                codes.push('LRF');
            }

            if(breadboard._outputState['47']){
                //console.log('LBO');
                codes.push('LBO');
            }
            else{
                //console.log('LBF');
                codes.push('LBF');
            }

            $.ajax({
                type:'POST',
                contentType: 'application/json',
                data: JSON.stringify(codes),
                dataType: 'json',
                url: 'http://127.0.0.1:5000/',
                success: function(e){
                    console.log(e);
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
    </script>

{% endblock %}
