{% extends "_bootstrap.html" %}

{% block head %}
    {{ super() }}
    {# Here go all the styles, CSS links, etc. #}
    {% assets "visir_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <style>
        .breadboard .delete {
            background-image: url('{{ url_for('static', filename='visir/instruments/breadboard/images/trash.png') }}');
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}
    {# Here go what is inside the <body></body>. #}

    <div class="container">
        <!--<h1>Virtualized Breadboard</h1>-->
        <div>
            <img src="{{ url_for('static', filename='resources/images/Project_Butterfly.png') }}" height=200px>
            <p id="protocol"></p>
        </div>
        
        <div id="breadboard" style="float:left; padding-right:20px;"></div>
    </div>
    <div>
        <button onclick="printLog()" style="background-color: #4CAF50; border:none; color:white; padding:5px 10px; text-align:center; font-size:14px;">Submit</button>
        <button onclick="addNotGate(this)" style="padding-left:10px;">Add NOT</button>
        <button onclick="addAndGate(this)" style="padding-left:10px;">Add AND</button>
        <button onclick="addOrGate(this)" style="padding-left:10px;">Add OR</button>
    </div>
    <div>
	 <!-- <img src="{{ url_for('lab.video_feed') }}" width="500" height="400" style="padding-top: 10px;"> -->
	</div>
    <div>
        <img src="{{ url_for('static', filename='resources/images/pinout.png')}}" width=400px style="float:left;">
        <img src="{{ url_for('static', filename='resources/images/logic_pinout.png') }}" width=200px style="float:left;">
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Here go all the JavaScript scripts. Most of them should be in the static folder #}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script>
        window.visir = window.visir || {};
        window.visir.BaseLocation = "{{ url_for('static', filename='visir/') }}";
    </script>

    {% assets "visir_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='logic_gates/breadboard-visir-new.js') }}"></script>
    <script>
        var endpointBase = "{{ url_for('api.index') }}";
        var imageBase = "{{ url_for('static', filename='resources/images/') }}";
        var numberOfSwitches = 3;
        var breadboard = new RHLab.Widgets.Breadboard($("#breadboard"), endpointBase, numberOfSwitches, imageBase, false);
    </script>
    <script>
        // Add an NOT gate to the breadboard GUI, triggered when the "Add NOT Gate" button is pressed
        function addNotGate(b){
            var not0 = new RHLab.Widgets.Breadboard.NotGate("NG1", imageBase, 274, 261);
            breadboard._notGate.push(not0);
            breadboard.AddComponent(not0);
            breadboard.Update();
            b.disabled = true;
        }
        // Add an AND gate to the breadboard GUI, triggered when the "Add AND Gate" button is pressed
        function addAndGate(b){
            // var and0 = new RHLab.Widgets.Breadboard.AndGate("AG1", imageBase, 365, 261);
            var and0 = new RHLab.Widgets.Breadboard.NotGate("AG1", imageBase, 365, 261);
            // breadboard._andGate.push(and0);
            breadboard._notGate.push(and0);
            breadboard.AddComponent(and0);
            breadboard.Update();
            b.disabled = true;
        }
        // Add an OR gate to the breadboard GUI, triggered when the "Add OR Gate" button is pressed
        function addOrGate(b){
            var or0 = new RHLab.Widgets.Breadboard.OrGate("OG1", imageBase, 456, 261);
            breadboard._orGate.push(or0);
            breadboard.AddComponent(or0);
            breadboard.Update();
            b.disabled = true;
        }
    </script>
    <script src="{{ url_for('static', filename='logic_gates/client_capture.js') }}">
        
    </script>

{% endblock %}
